includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    noModelMake: false
    paths:
        - src/

    # Level 9 is the highest level
    level: 5
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
